<div>
  <header class="bg-primary-500 h-[150px] flex justify-end relative">
    <div class="h-[350px] w-[350px] bg-white mr-20 flex justify-center items-end rounded-full absolute -top-[180px]">
      <img
        src="assets/images/banco-azteca.png"
        class="w-[150px] h-[150px] object-contain"
        alt="Banco azteca" />
    </div>
  </header>

  <!-- Menu options -->
  <section class="flex p-5">
    <img src="assets/images/azteca-logo.png" class="w-[250px]" alt="logo" />
  </section>

  <!-- Principal section options -->
  <section class="bg-primary-500 px-3 py-5 flex justify-center">
    <div class="mx-2">
      <span
        class="text-2xl text-white font-bold uppercase hover:text-secondary-hover-500 cursor-pointer">
        Personas
      </span>
    </div>
    <div class="mx-2">
      <span
        class="text-2xl text-white font-bold uppercase hover:text-secondary-hover-500 cursor-pointer">
        Empresas
      </span>
    </div>
  </section>

  <!-- Hero banner -->
  <section class="border min-h-[400px] grid grid-cols-2">
    <div class="flex justify-end p-3 px-10 min-h-[500px]">
      <div class="max-w-[400px]">
        <h1 class="text-4xl font-bold text-primary-500 mb-5">
          Cuéntanos cuál es
          <br />
          tu problemática
        </h1>
        <p class="text-3xl text-principal-text-400 font-bold mb-3">
          Conoce nuestro nuevo
          <br />
          perfilador de soluciones
          <br />
          para tu empresa
        </p>

        <p class="text-xl text-principal-text-400 text-justify">
          La herramienta que nos permite conocer
          <br />
          más sobre tu empresa para ofrecerte
          <br />
          soluciones personalizadas.
        </p>

        <div class="flex mt-5">
          <button
            class="bg-primary-500 text-left text-white px-5 py-2 hover:bg-secondary-hover-500 w-[80%]">
            <span class="text-2xl">Comenzar</span>
          </button>
        </div>
      </div>
    </div>

    <!-- image -->
    <div>
      <img src="assets/images/man.jpg" alt="hero" />
    </div>
  </section>
</div>
